@tailwind base;
@tailwind components;
@tailwind utilities;


.Vue-Toastification__toast {
  border-radius: 12px !important;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding: 12px 18px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.Vue-Toastification__toast--success {
  background-color: #0E5C5C !important;
  color: #ffffff !important;
}

.Vue-Toastification__toast--error {
  background-color: #E53E3E !important;
  color: #ffffff !important;
}

.Vue-Toastification__toast--info {
  background-color: #2563eb !important;
  color: #ffffff !important;
}

.Vue-Toastification__toast:hover {
  filter: brightness(1.05);
  transform: scale(1.02);
  transition: all 0.15s ease;
}
